Source: openvas
Section: net
Priority: optional
Maintainer: Atomicorp <support@atomicorp.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.1
Homepage: http://www.atomicorp.com/

Package: openvas
Architecture: all
Depends: ${misc:Depends},
         openvas-manager (>= 7.0.0),
         openvas-scanner (>= 5.1.0),
         greenbone-security-assistant(>= 7.0.0),
         openvas-cli (>= 1.4.5),
	 rng-tools,
Recommends: sqlite3, xsltproc, rsync
Description: remote network security auditor - dummy package
 The Open Vulnerability Assessment System is a modular security auditing tool,
 used for testing remote systems for vulnerabilities that should be fixed.
 .
 It is made up of several parts: a manager i.e. the main server openvasmd.
 A scanner openvassd that execute vulnerability checking scripts. A cli and
 a web interface called Greenbone Security Assistant gsad.
